.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:10rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box .text{
    font-size: 2.5rem;
    padding: .5rem 0;
    color: #FFF;
}

.menu .box-container .box .desc{
    font-size: 1.0rem;
    color: #FFF;
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}
.menu .search_input {
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 18px;
    text-align: center;
    text-transform: none;
    background-color: #fff;
    color: black;
  }
  .menu .search_head{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 9px;
    color: #fff;
  }